html{
height: 100%;
}

body{
	background-image: url("../../images/to-do-lists-toolshero-696x348.jpg");
	background-size: cover;
	background-position: center;
	font-family: 'Roboto', sans-serif;
}

h1{
	background: #2980b9;
	margin: 0;
	padding: 10px 20px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
	color: white;
}

input{
	width: 100%;
	background: #f7f7f7;
	font-size: 18px;
	color: #2980b9;
	box-sizing: border-box;
	padding: 13px 13px 13px 20px;
	
}

ul{
    list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	background: #f7f7f7;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background: white;
	height: 50px;
}

li span{
	width: 0;
	display: inline-block;
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	transition: 0.5s linear;
	opacity: 0;
}

li:hover span{
	width: 40px;
	opacity: 1;
}

.taskCompleted{
	color: grey;
	text-decoration: line-through;
}

.fa-plus{
	float: right;
}

#container{
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}